<div class="jumbotron">
    <h3>About HelLib</h3>
    <p>
        The “HelLib” library system is an institution that organizes the use of documentary information necessary to meet the diverse information needs of the reader.
        The library management system is a system aimed at ensuring the functioning of the library, increasing the efficiency of its work and developing in accordance with changing user needs and environmental conditions.
    </p>
</div>
