@model Library.Models.Catalog.AssetIndexModel
<div id="assets">
    <h3>Каталог</h3>
    <div id="assetsTable">
        <table>
            <thead>
                <tr>
                    <th>Обложка</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>ДКД</th>
                </tr>
            </thead>   
            <tbody>
                @foreach (var asset in Model.Assets)
                {
                <tr class="assetRow">
                    <td class="">
                        <a asp-controller ="Catalog" asp-action="Detail" asp-route-id="@asset.Id"></a>
                        <img src="asset.ImageUrl" class="imageCell" />
                    </td>
                    <td class="">@asset.Title</td>
                    <td class="">@asset.AuthorOrDirector</td>
                    <td class="">@asset.DeweyCallNumber</td>

                </tr>
                }
                
            </tbody>
            
        </table>
    </div>

</div>